<div class="chatContent">
    <div class="chatHeader">
        <h1> Garage São Paulo</h1>
    </div>

    <div class="chatBody">

        <div class="scrollBody">


            <div *ngFor="let message of array">



                <div *ngIf="message.sentBy === 'bot'">

                    <div class="message">

                        <div> {{message.text}}</div>
                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="chatFooter">
        <input type="text" [(ngModel)]="userInput" class="inputMessage" placeholder="Digite aqui sua mensagem para o meu bot">
        <button (click)="onSubmit()" class="sendButton">Enviar</button>
    </div>

</div>